* {
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt50 {margin-top: 50px;}
.mt70 {margin-top: 70px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb50 {margin-bottom: 50px;}
.mb70 {margin-bottom: 70px;}
.pt70 {padding-top: 70px;}
.h80 { height: 80px !important; }
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #636363;
}

.clearFix {
	overflow: hidden;
}

.bannerBg {
	background: url('../images/banner.jpg') no-repeat center top;
	width: 100%;
	background-size: cover;
	height: 1080px;
}

.bannerSection .bannerContent {
	padding-top: 280px;
	text-align: center;
}

.bannerSection h1 {
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.bannerSection p {
	color: #fff;
	margin: 15px 0 50px;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 2px;
}

.bannerSection .tagLine {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
}

.bannerSection img {
	width: 100%;
	height: auto;
}

.navArea {
	position: relative;
	top: -62px;
}

.navArea {
	background: #000;
}

.navArea ul {
	text-align: center;
}

.navArea ul li {
	display: inline-block;
	padding: 20px 50px;
}

.navArea ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.navArea ul li.active a,
.navArea ul li a:hover {
	border-bottom: 2px solid #0bf;
	padding-bottom: 3px;
}

.aboutContent {
	width: 1000px;
	margin: 50px auto 0;
	overflow: hidden;
}

.aboutContent p {
	color: #636363;
	font-size: 16px;
	text-transform: inherit;
	letter-spacing: inherit;
	text-align: left;
}

.wrapInner {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.educationBlock {
    padding: 60px 64px;
}

.educationBlock h2 {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	color: #0bf;
}

.educationList {
	color: #fff;
}

.educationList .educYear p {
	font-size: 16px;
    font-weight: bold;
}

.educationList span {
	font-size: 12px;
	font-style: italic;
}

.educationList li {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	padding: 30px 0;
}

.educationList li:last-child {
	border-bottom: none;
}

.educationBlock .educYear,
.workBlock .workYear {
	height: 40px;
	border-left: 5px solid #0bf;
}

.educInfo h3 {
	font-weight: bold;
	font-size: 16px;
}

.educationArea {
	background: url('../images/skills.jpg') no-repeat center top;
	width: 100%;
	background-size: cover;
	height: 600px;
}

.codingImage {
	border: 5px solid #0bf;
}

.workBlock {
	padding: 60px 64px;
}

.workBlock h2 {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	color: #0bf;
	text-align: left;
}

.workBlock ul li {
	color: #fff;
	line-height: 1.8;
}

.skillsArea {
	width: 1000px;
	margin: 0 auto;
}

.skillList li {
	display: inline-block;
	margin-bottom: 50px;
	text-align: center;
}

.skillList li h3 {
	text-transform: uppercase;
	font-weight: bold;
}

.sectionTitle {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	color: #000;
	text-align: center;
	letter-spacing: 3px;
}

.sectionTagLine {
	text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
    color: #0bf;
}

.portfolioArea {
	padding: 50px 0;
	background: #222;

}

.portfolioArea .sectionTitle {
	color: #0bf;
}

.portfolioContent {
	width: 1000px;
	margin: 0 auto;
}

.portfolioContent li {
	padding-bottom: 15px;
}

.portfolioContent li img {
    border: 8px solid #111;
    border-radius: 4px;
}

.portfolioContent li h3 {
	text-align: center;
	color: #0bf;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.contactForm {
	width: 1000px;
	margin: 50px auto 0;
}

.contactForm input {
	width: 100%;
	height: 50px;
	padding: 5px 10px;
}

.contactForm textarea {
	width: 100%;
	padding: 10px;
	height: 190px;
	margin-bottom: 20px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #0bf;
  box-shadow: 0 .5px .5px #0bf inset, 0 0 2px #0bf;
  outline: 0 none;
}
.contactForm input:focus,
.contactForm input:active {
	border: 1px solid #0bf;
}

.contactForm .btnSend {
	background: #000;
	color: #0bf;
	text-transform: uppercase;
	border: none;
	font-weight: bold;
}

footer {
	background: #000;
}

.footerBlock {
	width: 1000px;
	margin: 0 auto;
}

.footerBlock div {
	text-align: center;
}

.footerBlock .logo {
	background: #0bf;
	width: 55px;
	height: 55px;
	margin: 0 auto;
	border-radius: 50%;
}

.footerBlock .logo i {
	font-size: 24px;
	line-height: 2.2;
	color: #000;
}

.footerBlock .contentTxt h3 {
	color: #fff;
	text-transform: uppercase;
	margin: 15px 0 10px;
}

.footerBlock .contentTxt p {
	color: #fff;
	margin: 15px 0 10px;
}

.footerBlock .footerContent {
	background: #222;
	padding: 40px 30px 30px;
}

.footerArea .developer {
	color: #fff;
	padding: 40px 10px;
}

.mobileMenuBtn {
	display: none;
}

.skillList li img {
	border-radius: 50%;
}

.portfolioContent li {
	margin-bottom: 20px;
}

@media only screen and (max-width : 767px) {
	.navArea {
		display: none;
	}
	.navArea {
		top: 0;
		padding-top: 70px;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.navArea ul li {
		display: block;
	}

	.mobileMenuBtn {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		background: #000;
		border: none;
		padding: 10px;
		z-index: 999;
	}

	.mobileMenuBtn i {
		color: #fff;
		font-size: 28px;
	}

	.bannerSection h1 {
		font-size: 32px;
	}

	.bannerSection p {
		font-size: 24px;
	}

	.bannerSection .tagLine {
		letter-spacing: inherit;
		padding: 0 24px;
		line-height: 1.6;
	}

	.bannerContent {
		padding-top: 120px !important;
	}

	.sectionTitle {
		font-size: 30px;
	}

	.aboutMeArea {
		margin-top: 40px;
	}

	.sectionTagLine {
		font-size: 16px;
	}

	.aboutContent {
		margin-top: 20px;
		width: inherit;
	}

	.aboutContent img {
			width: 100%;
		    height: auto;
		    margin-bottom: 10px;
		    max-width: 450px;
	}

	.aboutContent > div {
		text-align: center;
	}

	.educationArea {
		height: inherit;
	}

	.educationBlock {
		padding: 30px 15px;
	}

	.aboutMeArea {
		margin-bottom: 40px;
	}

	.educationBlock h2,
	.workBlock h2 {
		font-size: 30px;
	}

	.educInfo {
		margin-top: 20px;
	}

	.educInfo h3,
	.educInfo p {
		margin-left: 5px;
	}

	.workBlock {
		padding: 0 15px 30px;
	}

	.workYear {
		display: none;
	}

	.workBlock .educInfo {
		margin-left: 0;
		border-left: 5px solid #0bf;
	}
	
	.workBlock .educInfo h3,
	.workBlock .educInfo p {
		margin-left: 0;
	}

	.educationList li {
	    padding: 20px 0;
	}

	.skillList {
		margin-top: 30px;
		text-align: center;
	}

	.skillsArea {
		width: inherit;
	}

	.educationArea {
		margin-bottom: 40px;
	}

	.skillsArea .sectionTitle {
		color: #0bf;
	}

	.skillList li {
		width: 45%;
	}

	.portfolioContent,
	.footerBlock {
		width: inherit;
	}

	.portfolioContent li img {
		width: 100%;
		height: auto;
	}

	.portfolioContent ul {
		margin-top: 30px;
	}

	.footerBlock {
		padding-top: 20px;
	}

	.footerBlock .footerContent {
	    background: #222;
	    padding: 20px 30px 20px;
	    margin-bottom: 20px;
	}

	.footerArea .developer {
	    color: #fff;
	    padding: 0 10px 20px;
	}
}

@media only screen and (max-width : 480px) {
	.skillList li {
	    width: 31%;
	}

	.skillList li img {
		width: 100%;
	}

	.skillList li h3 {
	    font-size: 10px;
	}

	.skillList {
		margin-bottom: 0;
	}

	.portfolioArea {
		padding-top: 35px;
	}

	.portfolioArea {
	  	padding-bottom: 0;
	}

	.bannerBg {
	    background: url(../images/banner.jpg) no-repeat 28%;
	    width: 100%;
	    background-size: cover;
	}

	.educationArea {
	    background: url(../images/skills.jpg) no-repeat;
	    width: 100%;
	    background-size: cover;
	}
}

