<div class="footerBlock clearFix pt70">
  <div class="col-md-4">
    <div class="footerContent">
      <div class="logo">
        <i class="fa fa-map-marker"></i>
      </div>
      <div class="contentTxt">
        <h3>Location</h3>
        <p>Valenzuela City, Philippines</p>
      </div>
    </div>	
  </div>
  <div class="col-md-4">
    <div class="footerContent">
      <div class="logo">
        <i class="fa fa-envelope"></i>
      </div>
      <div class="contentTxt">
        <h3>Email</h3>
        <p>dominicksanchez30@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="footerContent">
      <div class="logo">
        <i class="fa fa-phone"></i>
      </div>
      <div class="contentTxt">
        <h3>Phone Number</h3>
        <p>0995 788 0045</p>
      </div>
    </div>
  </div>
  <div class="col-md-12 divCenter">
    <p class="developer">Website Develop by Dominick Sanchez</p>
  </div>
</div>