<h2>Work Experience</h2>
<ul class="educationList mt10">
  <li>
    <div class="col-md-2 workYear h90">
      <p>Company</p>
      <p>Date</p>
      <p>Position</p>
      <p>Employment Type</p>
    </div>
    <div class="col-md-8 educInfo">
      <h3>TRANSCOSMOS ASIA PHILIPPINES</h3>
      <p>November 2016 to present (2 years and 8 months)</p>
      <strong>Senior Front End Web Developer</strong>
      <p>Full-time</p>
    </div>
    <img src="{{baseUrl}}/images/tcap.png" class="companyLogo" alt="tcap">
  </li>
  <li>
    <div class="col-md-2 workYear h90">
      <p>Company</p>
      <p>Date</p>
      <p>Position</p>
      <p>Employment Type</p>
    </div>
    <div class="col-md-8 educInfo">
      <h3>LAB CENTRAL</h3>
      <p>March 2018 to present (4 months)</p>
      <strong>Full-stack Web Developer</strong>
      <p>Part-time</p>
    </div>
    <img src="{{baseUrl}}/images/labcentral.png" class="companyLogo" alt="labcentral">
  </li>
  <li>
    <div class="col-md-2 workYear h90">
      <p>Company</p>
      <p>Date</p>
      <p>Position</p>
      <p>Employment Type</p>
    </div>
    <div class="col-md-8 educInfo">
      <h3>APPLITE</h3>
      <p>December 2016 to 2018 (2 years)</p>
      <strong>Web / Hybrid App Developer</strong>
      <p>Part-time</p>
    </div>
    <img src="{{baseUrl}}/images/applite.png" class="companyLogo" alt="applite">
  </li>
  <li>
    <div class="col-md-2 workYear h90">
      <p>Company</p>
      <p>Date</p>
      <p>Position</p>
      <p>Employment Type</p>
    </div>
    <div class="col-md-8 educInfo">
      <h3>TEAMSTORM - © 2014 PNI BUSINESS SOLUTIONS.</h3>
      <p>April 2015 to 2016 (7 months)</p>
      <strong>Programmer / Web Developer</strong>
      <p>Full-time</p>
    </div>
    <img src="{{baseUrl}}/images/teamstorm.png" class="companyLogo" alt="teamstorm">
  </li>
  <li>
    <div class="col-md-2 workYear h90">
      <p>Company</p>
      <p>Date</p>
      <p>Position</p>
      <p>Employment Type</p>
    </div>
    <div class="col-md-8 educInfo">
      <h3>-</h3>
      <p>April 2014 to 2015 (1 year)</p>
      <strong>Web Developer</strong>
      <p>Part-time</p>
    </div>
  </li>
</ul>
