<h2 class="sectionTitle">MY SKILLS</h2>
<p class="sectionTagLine">see what i'm capable of</p>
<ul class="skillList mt70 clearFix mb50">
  <li class="col-md-2">
    <img src="assets/images/images/angular.png">
    <h3>Angular</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/js.png">
    <h3>Javascript</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/typescript.png">
    <h3>Typescript</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/node.png">
    <h3>Node JS</h3>
  </li>




  <li class="col-md-2">
    <img src="assets/images/images/html.png">
    <h3>HTML</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/css.png">
    <h3>CSS</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/bootstrap.png">
    <h3>Bootstrap</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/expressjs.png">
    <h3>Express JS</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/ionic.png">
    <h3>Ionic</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/mongodb.png">
    <h3>Mongo DB</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/jquery.png">
    <h3>JQuery</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/php.png">
    <h3>php</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/wordpress.png">
    <h3>Wordpress</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/drupal.png">
    <h3>Drupal</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/codeigniter.png">
    <h3>Codeigniter</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/mysql.png">
    <h3>Mysql</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/phonegap.png">
    <h3>Phonegap</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/sublime.png">
    <h3>Sublime Text</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/photoshop.png">
    <h3>Photoshop</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/jira.png">
    <h3>Jira</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/github.png">
    <h3>Github</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/cordova.png">
    <h3>Cordova</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/react.png">
    <h3>React JS</h3>
  </li>
  <li class="col-md-2">
    <img src="assets/images/images/agile.png">
    <h3>Agile Methodology</h3>
  </li>
</ul>
