<h2 class="sectionTitle" id="skills">MY SKILLS</h2>
<p class="sectionTagLine">see what i'm capable of</p>
<ul class="skillList mt70 clearFix mb50">
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/angular.png">
    <h3>Angular</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/js.png">
    <h3>Javascript</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/typescript.png">
    <h3>Typescript</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/node.png">
    <h3>Node JS</h3>
  </li>




  <li class="col-md-2">
    <img src="{{baseUrl}}/images/html.png">
    <h3>HTML</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/css.png">
    <h3>CSS</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/bootstrap.png">
    <h3>Bootstrap</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/expressjs.png">
    <h3>Express JS</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/ionic.png">
    <h3>Ionic</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/mongodb.png">
    <h3>Mongo DB</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/jquery.png">
    <h3>JQuery</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/php.png">
    <h3>php</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/wordpress.png">
    <h3>Wordpress</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/drupal.png">
    <h3>Drupal</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/codeigniter.png">
    <h3>Codeigniter</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/mysql.png">
    <h3>Mysql</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/phonegap.png">
    <h3>Phonegap</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/sublime.png">
    <h3>Sublime Text</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/photoshop.png">
    <h3>Photoshop</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/jira.png">
    <h3>Jira</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/github.png">
    <h3>Github</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/cordova.png">
    <h3>Cordova</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/react.png">
    <h3>React JS</h3>
  </li>
  <li class="col-md-2">
    <img src="{{baseUrl}}/images/agile.png">
    <h3>Agile Methodology</h3>
  </li>
</ul>
