<h2 class="sectionTitle" id="portfolio">My Portfolio</h2>
<p class="sectionTagLine">See my works</p>

<div class="portfolioContent">
  <ul class="clearFix mt50">
    <li class="col-md-4">
      <a href="https://jami.ph/" target="_blank">
        <img src="{{baseUrl}}/images/jami-thumb.jpg">
      </a>
      <h3><a href="https://jami.ph/" target="_blank">Jami</a></h3>
    </li>
    <li class="col-md-4">
      <a href="https://www.sklz.com/" target="_blank">
        <img src="{{baseUrl}}/images/sklz-thumb.jpg">
      </a>
      <h3><a href="https://www.sklz.com/" target="_blank">Sklz</a></h3>
    </li>
    <li class="col-md-4">
      <a href="https://www.sheplers.com/" target="_blank">
        <img src="{{baseUrl}}/images/sheplers-thumb.jpg">
      </a>
      <h3><a href="https://www.sheplers.com/" target="_blank">Sheplers</a></h3>
    </li>
    <li class="col-md-4">
      <a href="https://www.countryoutfitter.com/" target="_blank">
        <img src="{{baseUrl}}/images/county-outfitters-thumb.jpg">
      </a>
      <h3><a href="https://www.countryoutfitter.com/" target="_blank">Country Outfitter</a></h3>
    </li>
    <li class="col-md-4">
      <a href="https://www.bootbarn.com/" target="_blank">
        <img src="{{baseUrl}}/images/bootbarns-thumb.jpg">
      </a>
      <h3></h3>
      <h3><a href="https://www.bootbarn.com/" target="_blank">Bootbarns</a></h3>
    </li>
    <li class="col-md-4">
      <a href="https://www.rag-bone.com/" target="_blank">
        <img src="{{baseUrl}}/images/ragandbone-thumb.jpg">
      </a>
      <h3><a href="https://www.rag-bone.com/" target="_blank">Rag &amp; Bone</a></h3>
    </li>
    <li class="col-md-4">
      <a href="https://www.shping.com/" target="_blank">
        <img src="{{baseUrl}}/images/shping.jpg">
      </a>
      <h3><a href="https://www.shping.com/" target="_blank">Shping</a></h3>
    </li>
    <li class="col-md-4">
      <a href="https://jp.gotchamall.com/" target="_blank">
        <img src="{{baseUrl}}/images/gotcha.jpg">
      </a>
      <h3><a href="https://jp.gotchamall.com/" target="_blank">Gotcha Mall</a></h3>
    </li>
    <li class="col-md-4">
      <a href="https://www.wacoal.jp/" target="_blank">
        <img src="{{baseUrl}}/images/wacoal.jpg">
      </a>
      <h3><a href="https://www.wacoal.jp/" target="_blank">Wacoal</a></h3>
    </li>
    <li class="col-md-4">
      <a href="http://www.skymark.co.jp/en/" target="_blank">
        <img src="{{baseUrl}}/images/skymark.jpg">
      </a>
      <h3><a href="http://www.skymark.co.jp/en/" target="_blank">SkyMark</a></h3>
    </li>
    <li class="col-md-4">
      <a href="http://www.sunnyhealth.co.jp/" target="_blank">
        <img src="{{baseUrl}}/images/sunnyhealth.jpg">
      </a>
      <h3><a href="http://www.sunnyhealth.co.jp/" target="_blank">Sunny Health</a></h3>
    </li>
    <li class="col-md-4">
      <a href="http://www.trans-cosmos-dmi.co.jp/" target="_blank">
        <img src="{{baseUrl}}/images/tci.jpg">
      </a>
      <h3><a href="http://www.trans-cosmos-dmi.co.jp/" target="_blank">TCDMI</a></h3>
    </li>
  </ul>
</div>
