<section class="aboutMeArea mb70" id="about">
  <h2 class="sectionTitle">About Me</h2>
  <p class="sectionTagLine">A few words about me</p>
  <div class="aboutContent">
    <div class="aboutImageWrap">
      <img src="{{baseUrl}}/images/coding.jpg" class="codingImage">
    </div>
    <div class="aboutTextWrap">
      <p>Hi, I'm Dominick Sanchez a web developer who is able to work alongside other talented IT professionals in creating websites to very high standards. Has a high awareness of industry issues and trends, particularly in regard to accessibility, usability and emerging technologies. Ambitious type of person who wants to get noticed, and has the drive and massive energy needed to really make a difference to a project.</p>
    </div>
  </div>
</section>