<h2>My Education</h2>
<ul class="educationList mt10">
  <li>
    <div class="col-md-4 educYear">
      <p>2015 - 2011</p>
      <span>College Degree</span>
    </div>
    <div class="col-md-8 educInfo">
      <h3>Bachelor of Science in Information Technology</h3>
      <p>Pamantasan ng Lungsod ng Valenzuela</p>
    </div>
  </li>
  <li>
    <div class="col-md-4 educYear">
      <p>2011 - 2007</p>
      <span>Secondary Education</span>
    </div>
    <div class="col-md-8 educInfo">
      <h3>High School</h3>
      <p>Polo National Highschool</p>
    </div>
  </li>
  <li>
    <div class="col-md-4 educYear">
      <p>2007 - 2001</p>
      <span>Primary Education</span>
    </div>
    <div class="col-md-8 educInfo">
      <h3>Elementary</h3>
      <p>Andres Fernando Elementary School</p>
    </div>
  </li>
</ul>
